---
import MainHead from "../components/MainHead.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<html lang="fr">
	<head>
		<MainHead title={title} />
	</head>
	<body>
		<slot />
	</body>
</html>
