---
import { ClientRouter } from "astro:transitions";
import PartialPage from "./PartialPage.astro";
import Header from "../components/Header.astro";

interface Props {
  lang: string;
  title: string;
}
let { lang, title } = Astro.props;
---

<PartialPage lang={lang} title={title}>
  <ClientRouter />
  <Header />
  <main>
    <slot />
  </main>
  </Footer>
</PartialPage>
